<h2>Liste des Formations passées</h2>
<div class="recherche">
  <span class="material-symbols-outlined">search</span>
  <input
    [(ngModel)]="cherche"
    type="text"
    placeholder="chercher des formations"
  />
</div>
<div class="formations" *ngFor="let formation of formationList ">
  <app-formationadmin
  *ngIf="formation.Done == 1"
  [idFormation]="formation.idFormation"
  [titleF]="formation.Titre"
  [dateF]="formation.DateDeb"
  [nbreP]="formation.NbreParticipants"
  [formateur]="formation.Formateur"
  [Done]="formation.Done"
  [Eval]="formation.Eval"
  ></app-formationadmin>
</div>
